.PanelBlur {
  border: 0.5px solid rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(50px);
}

.Panel {
  border: 0.5px solid rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  background: #F6F6F6;
}

.PanelBody {
  padding: 11px;
}

:global(body[mode="dark"]) {
  .PanelBlur {
    border: 0.5px solid rgba(255, 255, 255, 0.12);
    border-radius: 10px;
    background: rgba(40, 40, 40, 0.6);
    backdrop-filter: blur(50px);
  }

  .Panel {
    border: 0.5px solid rgba(255, 255, 255, 0.12);
    border-radius: 10px;
    background: #282828;
  }
}
